<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="10.50.1600.1" targetFramework="net45" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.3.3" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
</packages>