<style>
    .dataTables_empty {
        display: none;
    }

    table.cell-border {
        width: 100%;
        clear: both;
    }

    table.cell-border th {
        padding: 5px;
        border: 1px solid #fff;
    }

    table.cell-border thead th {
        text-align: center;
        background: #66a9bd;
    }

    table.cell-border tbody td {
        text-align: center;
    }
</style>

<div id="documentosRolR">
    <table id="dtListasRolR" class="cell-border" cellspacing="0" style="width:100%;">
        <thead>
            <tr>                
                <th class="sortable-column">Id</th>
                <th class="sortable-column"></th>                
                <th class="sortable-column">Descripción</th>
                <th class="sortable-column">Entidad</th>
            </tr>
        </thead>
    </table>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            function eliminaroldelsuarioentidad() {
                alertify.defaults.theme.ok = "button warning";
                alertify.defaults.theme.cancel = "button primary";
                alertify.confirm().destroy();
                alertify.confirm('Advertencia', 'Esta seguro de querer Eliminar la Relacion?'
                , function () { //onOk   
                    showalertify();
                    var url = obtenerURL('/Mantenimiento/eliminarelUsuario?Id=' + vusuarioId + "&Id2=" + vrolId + "&Id3=" + ventidadId);
                    $.post(url)
                       .done(function (data) {
                           var listado = JSON.parse(data);
                           if (listado.Resultado === "true") {
                               alertify.alert().destroy();
                               alertify.alert('Confirmación', listado.Mensaje);
                               alertify.alert().setting('modal', true);
                               $('#frUsuario').empty();
                               $('#frUsuario').load(obtenerURL("/Mantenimiento/ListaUsuario"));
                               $('#baba').empty();
                               var url = obtenerURL("/Mantenimiento/_ListaRolR");
                               $('#baba').load(url, function (response, status, xhr) {
                                   if (status === "success") {
                                       table = $('#dtListasRolR').dataTable({
                                           ajax: {
                                               url: obtenerURL('/Mantenimiento/ObtenerRelacionRolEntidad?UsuarioId=' + vusuarioId), //+ '&Proyecto=' + $('#txtProyecto').val()
                                               dataSrc: "",
                                           },
                                           rowId: 'Llave',
                                           retrieve: true,
                                           columns: [
                                               { data: "RolId" },
                                               {
                                                   'data': null,
                                                   'render': function (data, type, row) {
                                                       return '<span id="' + row.RolId + ";" + row.EntidadId + '" class="icon mif-cross mif-1x fg-red" onclick="eliminarelUsuarioEntidad(this)"></span>'
                                                   }
                                               },
                                               { data: "Descripcion" },
                                               { data: "EntidadDescripcion" }
                                           ],
                                           columnDefs: [
                                               {
                                                   targets: [0],
                                                   visible: false
                                               },
                                           ],                                           
                                           dom: 'Bfrtip',
                                           buttons: [{ extend: 'pdfHtml5', title: 'PDF', text: 'Exportar Pdf', orientation: 'landscape', pageSize: 'LEGAL' }, { extend: 'excelHtml5', title: 'EXCEL', text: 'Exportar Excel' }],
                                           language: { url: obtenerURL("/Json/Spanish.json") },
                                           lengthMenu: [5],
                                           bLengthChange: false,
                                           searching: true
                                       });

                                       $('#dtListasRolR tbody').on('click', 'tr', function () {
                                           $("#dtListasRolR tr.selected").removeClass();
                                           $(this).addClass('selected');
                                       });
                                   }
                               })
                           }
                           else {
                               alertify.alert().destroy();
                               alertify.alert('Advertencia'
                                   , listado.Mensaje);
                               alertify.alert().setting('modal', true);
                           }
                       })
                    closealertify();
                }
                , function () { })//onCancel                
                .set('labels', { ok: '< Si >', cancel: '< No >' });
            }

            function eliminarelUsuarioEntidad(obj) {
                var values = $(obj).attr('id').split(";");
                vrolId = values[0];
                ventidadId = values[1];
                eliminaroldelsuarioentidad();
            }
        </script>
     , true);
}




