<div class="content">
    <h4> Relacionar Reporte a Campo</h4>
    <div class="flex-grid">
        <div class="row flex-just-center">
            <div class="cell no-padding-bottom size6">
                <div class="input-control select full-size" data-placeholder="Seleccione Rol" data-allow-clear="true">
                    @Html.DropDownList("rol", new SelectList(ViewBag.Rol as System.Collections.IEnumerable, "RolId", "Descripcion"),
                                    "Selecciona Rol", new { id = "ddlrelRol", @style = "width:100%;" })
                </div>
            </div>
        </div>
        <div class="row flex-just-center">
            <div class="toolbar">
                <div class="toolbar-section">
                    <button class="image-button ribbed-darkBlue" data-tabcontinuar="data-tabcontinuar" onclick="GuardaReporteRol()" id="btnGuardaRepRel" style="display:none">
                        <span class="fg-white">Guardar</span>
                        <span class="icon mif-floppy-disk fg-white bg-darkBlue"></span>
                    </button>
                    <button class="image-button ribbed-darkEmerald" data-tabcontinuar="data-tabcontinuar" id="btnCerrarRepCam" onclick="CerrarModalReporte()">
                        <span class="fg-white">Cerrar</span>
                        <span class="icon mif-cross fg-white bg-darkEmerald"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
        </script>
    , true);
}
