
<style>
    .dataTables_empty {
        display: none;
    }

    table.cell-border {
        width: 100%;
        clear: both;
    }

        table.cell-border th {
            padding: 5px;
            border: 1px solid #fff;
        }

        table.cell-border thead th {
            text-align: center;
            background: #66a9bd;
        }

        table.cell-border tbody td {
            text-align: center;
        }

    td {
        font-size: 12px;
    }
</style>

<div id="documentosSistema">
    <table id="dtListasSistema" class="cell-border" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th class="sortable-column"></th>
                <th class="sortable-column"></th>
                <th class="sortable-column">SistemaId</th>
                <th class="sortable-column">OpcionId</th>
                <th class="sortable-column">Descripcion</th>
                <th class="sortable-column">LlaveCifrado</th>
                <th class="sortable-column">AlgoritmoCifrado</th>
                <th class="sortable-column">Activo</th>
            </tr>
        </thead>
    </table>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            function ResetearPassword(obj) {
                showalertify();
                var values = $(obj).attr('id').split(";");
                vusuarioId = values[0];
                var vid = values[1]
                
                var url = obtenerURL('/Mantenimiento/obtenerCifrado?Sistema=' + vsistemaId);
                $.getJSON(url)
                    .done(function (data) {
                        $.each(data, function (i, item) {
                            key = item.LlaveCifrado
                            alg = item.AlgoritmoCifrado;                                

                            if (key == null) {var url = obtenerURL('/Mantenimiento/ActualizarUsuSis?UsuarioId=' + vusuarioId + '&SistemaId=' + vsistemaId + '&id=' + vid + '&alg=' + alg);}
                            else {var url = obtenerURL('/Mantenimiento/ActualizarUsuSis?UsuarioId=' + vusuarioId + '&SistemaId=' + vsistemaId + '&id=' + vid + '&alg=' + alg + '&key=' + key); }
                                                        
                            $.post(url)
                                .done(function (data) {
                                    var listado = JSON.parse(data);
                                    if (listado.Resultado === "true") {                                        
                                        $('#guinea').empty();
                                        var url = obtenerURL("/Mantenimiento/_ListaSistemaR");
                                        $('#guinea').load(url, function (response, status, xhr) {
                                            if (status === "success") {
                                                table = $('#dtListasSisR').dataTable({
                                                    ajax: {
                                                        url: obtenerURL('/Mantenimiento/ObtenerRelacionSisusu?SistemaId=' + vsistemaId), //+ '&Proyecto=' + $('#txtProyecto').val()
                                                        dataSrc: "",
                                                    },
                                                    rowId: 'UsuarioId',
                                                    retrieve: true,
                                                    columns: [
                                                        { data: "UsuarioId" },
                                                            {
                                                                'data': null,
                                                                'render': function (data, type, row) {
                                                                    return '<span id="' + row.UsuarioId + ";" + row.Id + '" class="icon mif-cross mif-1x fg-red" onclick="eliminarelUsuarioSistema(this)"></span>'
                                                                }
                                                            },
                                                            { data: "UsuarioId" },
                                                            { data: "Password" },
                                                            {
                                                                'data': null,
                                                                'render': function (data, type, row) {
                                                                    return (data ? '<button id="' + row.UsuarioId + ";" + row.Id + '"class="button rounded bg-blue fg-white" onclick=ResetearPassword(this)> Resetear Password</button>' : '')
                                                                }
                                                            },
                                                    ],
                                                    columnDefs: [
                                                        {
                                                            targets: [0],
                                                            visible: false
                                                        },
                                                    ],
                                                    dom: 'Bfrtip',
                                                    buttons: [{ extend: 'pdfHtml5', title: 'PDF', text: 'Exportar Pdf', orientation: 'landscape', pageSize: 'LEGAL' }, { extend: 'excelHtml5', title: 'EXCEL', text: 'Exportar Excel' }],
                                                    language: { url: obtenerURL("/Json/Spanish.json") },
                                                    lengthMenu: [5],
                                                    bLengthChange: false,
                                                    searching: true
                                                });

                                                $('#dtListasSisR tbody').on('click', 'tr', function () {
                                                    $("#dtListasSisR tr.selected").removeClass();
                                                    $(this).addClass('selected');
                                                });
                                            }
                                        })
                                        alertify.alert().destroy();
                                        alertify.alert('Confirmación', listado.Mensaje);
                                        alertify.alert().setting('modal', true);
                                    }
                                    else {
                                        alertify.alert().destroy();
                                        alertify.alert('Advertencia', listado.Mensaje);
                                        alertify.alert().setting('modal', true);
                                    }
                                })
                            closealertify();
                        })
                    })                
            }

            function eliminaSistema(obj) {
                showalertify();
                var values = $(obj).attr('id').split(";");
                vsistemaId = values[0];
                var opt = values[1];                
                var url = obtenerURL('/Mantenimiento/eliminaSistema?sistemajson=' + vsistemaId + '&opcionjson=' + opt);
                $.post(url)
                    .done(function (data) {
                        var listado = JSON.parse(data);
                        if (listado.Resultado === "true") {
                            alertify.alert().destroy();
                            alertify.alert('Confirmación', listado.Mensaje);
                            alertify.alert().setting('modal', true);
                            $('#frSistema').empty();
                            $('#frSistema').load(obtenerURL("/Mantenimiento/ListaSistema"));
                        }
                        else {
                            alertify.alert().destroy();
                            alertify.alert('Advertencia', listado.Mensaje);
                            alertify.alert().setting('modal', true);
                        }
                    })
                closealertify();
            }

            function obtenerSistema(obj) {
                showalertify();
                vsistemaId = $(obj).attr('id');
                var url = obtenerURL('/Mantenimiento/ObtenerSistema?SistemaId=' + vsistemaId);
                $.getJSON(url)
                    .done(function (data) {                        
                        var Listado = (JSON.stringify(data));
                        encabezdo = (Listado);
                        iniciarValoresSistema();

                        $('#guinea').empty();
                        var url = obtenerURL("/Mantenimiento/_ListaSistemaR");
                        $('#guinea').load(url, function (response, status, xhr) {
                            if (status === "success") {
                                table = $('#dtListasSisR').dataTable({
                                    ajax: {
                                        url: obtenerURL('/Mantenimiento/ObtenerRelacionSisusu?SistemaId=' + vsistemaId), //+ '&Proyecto=' + $('#txtProyecto').val()
                                        dataSrc: "",
                                    },
                                    rowId: 'UsuarioId',
                                    retrieve: true,
                                    columns: [
                                        { data: "UsuarioId" },
                                            {
                                                'data': null,
                                                'render': function (data, type, row) {
                                                    return '<span id="' + row.UsuarioId + ";" + row.Id + '" class="icon mif-cross mif-1x fg-red" onclick="eliminarelUsuarioSistema(this)"></span>'
                                                }
                                            },
                                            { data: "UsuarioId" },
                                            { data: "Password" },
                                            {
                                                'data': null,
                                                'render': function (data, type, row) {
                                                    return (data ? '<button id="' + row.UsuarioId + ";" + row.Id + '"class="button rounded bg-blue fg-white" onclick=ResetearPassword(this)> Resetear Password</button>' : '')
                                                }
                                            },
                                    ],
                                    columnDefs: [
                                        {
                                            targets: [0],
                                            visible: false
                                        },
                                    ],
                                    dom: 'Bfrtip',
                                    buttons: [{ extend: 'pdfHtml5', title: 'PDF', text: 'Exportar Pdf', orientation: 'landscape', pageSize: 'LEGAL' }, { extend: 'excelHtml5', title: 'EXCEL', text: 'Exportar Excel' }],
                                    language: { url: obtenerURL("/Json/Spanish.json") },
                                    lengthMenu: [5],
                                    bLengthChange: false,
                                    searching: true
                                });

                                $('#dtListasSisR tbody').on('click', 'tr', function () {
                                    $("#dtListasSisR tr.selected").removeClass();
                                    $(this).addClass('selected');
                                });
                            }
                        })                        
                    })

                $("#sisusu").show()
                closealertify();
            }
        </script>
     , true);
}





