<style>
    .dataTables_empty {
        display: none;
    }

    table.cell-border {
        width: 100%;
        clear: both;
    }

    table.cell-border th {
        padding: 5px;
        border: 1px solid #fff;
    }

    table.cell-border thead th {
        text-align: center;
        background: #66a9bd;
    }

    table.cell-border tbody td {
        text-align: center;
    }

    .text-wrap {
        white-space: normal;
    }

    .width-200 {
        width: 200px;
    }

    /*#dtListasVariableControl{
        table-layout: fixed !important;
        word-wrap:break-word;
    }*/
</style>

<div id="documentosVariableControl">
    <table id="dtListasVariableControl" class="cell-border" cellspacing="0" style="width:100%;">
        <thead>
            <tr>
                <th class="sortable-column"></th>
                <th class="sortable-column"></th>
                <th class="sortable-column">Id</th>
                <th class="sortable-column">Descripción</th>
                <th class="sortable-column">Cadena</th>
                <th class="sortable-column">Fecha</th>
                <th class="sortable-column">Numerico</th>
                <th class="sortable-column">TablaRel</th>
                <th class="sortable-column">CampoRel</th>
                <th class="sortable-column">Activo</th>
            </tr>
        </thead>
    </table>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            function eliminaVariableControl(obj) {
                showalertify();
                vvariablecontrolId = $(obj).attr('id');
                
                    var url = obtenerURL('/Mantenimiento/eliminaVariableControl?variablecontroljson=' + vvariablecontrolId);
                    $.post(url)
                       .done(function (data) {
                           var listado = JSON.parse(data);

                           if (listado.Resultado === "true") {
                               $('#frVariableControl').empty();
                               $('#frVariableControl').load(obtenerURL("/Mantenimiento/ListaVariableControl"));
                               alertify.alert().destroy();
                               alertify.alert('Confirmación', listado.Mensaje);
                               alertify.alert().setting('modal', true);
                           }
                           else {
                               alertify.alert().destroy();
                               alertify.alert('Advertencia', listado.Mensaje);
                               alertify.alert().setting('modal', true);
                           }
                       })
                    closealertify();                
            }

            function obtenerVariableControl(obj) {
                showalertify();
                vvariablecontrolId = $(obj).attr('id');

                    var url = obtenerURL('/Mantenimiento/ObtenerVariableControl?VariableControlId=' + vvariablecontrolId);
                    $.getJSON(url)
                       .done(function (data) {
                           var Listado = (JSON.stringify(data));
                           encabezdo = (Listado);
                           iniciarValoresVariableControl();
                       })
                    closealertify();                
            }
        </script>
     , true);
}
